/* The webpage overall styling */
@tailwind base;
@tailwind components;

/* html {
  @apply font-body antialiased;
} */

@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display:flex;
    flex-direction: column;
}


/*  This is for styling the main container that holds everything */

#container {
    height: 100vh;
    /* width: 100vw; */
    position: relative;
}


/* This styles the navbar and its contents */

#navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 8px 5%;
    align-items: center;
}

#navbar >* {
    height: 100%;
}

#navbar >* >* {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* This styles the unlisted links in the navbar */

#navbar ul {
    display: flex;
    flex-direction: row;
}


/* This changes the appearance of the listed links in the navbar */

#navbar ul li {
    width: 80px;
    margin: 0 10px;
}

#navbar ul li button {
    height: 50%;
    width: 80%;
    justify-content: center;
}

.separator {
    border: 1px solid black;
    margin: 0 5%;
}

.row {
    display: inline-flex;
}


/* This styles the descriptions of the 3D object */

#content {
    height: 500px;
    width: 700px;
    /* position: relative; */
    /* float: right; */
    /* right: 7%;
    top: calc(50% - 250px); */
}


/* This styles the heading in the 3D description */

#content h2 {
    font-size: 140px;
}


/* This styles the paragraph in the 3D description*/

#content p {
    font-size: 20px;
}


/* This styles the button in the 3D description*/

#content button {
    width: 35%;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 1vh;
    margin-left: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background: dodgerblue;
    color: white;
}


/* This adds some hover effects over the button */

#content button:hover {
    background: navy;
}


/* This styles the social media icons*/

#icons {
    height: 500px;
    width: 140px;
    background: none;
    position: absolute;
    left: 0;
    top: calc(50% - 250px);
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 2px grey);
}


/* This styles the social media icons logos*/

#icons #iconsLogo {
    height: 300px;
    width: 50px;
    display: flex;
    flex-direction: column;
}


/* This styles the social media icons logos images*/

#icons #iconsLogo i {
    height: 50px;
    width: 50px;
    font-size: 30px;
    margin: 10px;
    color: black;
    display: grid;
    place-items: center;
    cursor: pointer;
}


/* This styles the aside container */

@media (min-width: 1024px) { 
#aSide {
    height: 47vh;
    width: 50%;
    background-image: url('../assets/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    top: calc(50% - 250px);
    left: 2%;
    overflow: hidden;
}
#aSide model-viewer {
    height: 100vh;
    width: 100vw;
    top: -25vh;
    left: -32vw;
    border: none;
}
}

#aSide {
    height: 47vh;
    width: 100%;
    background-image: url('../assets/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
    top: calc(50% - 250px);
    left: 2%;
    overflow: hidden;

    .chatgpt {
        /* border: 3px solid; */
        width: 50%;
        background-color: #00A67E;
    }
}

.chatgpt {
    /* border: 3px solid; */
    width: 100%;
    margin-top: 10px;
    background-color: #00A67E;
}


/* This styles the 3D object inserted in the aside container */

#aSide model-viewer {
    height: 100vh;
    width: 100vw;
    top: -25vh;
    /* left: -32vw; */
    border: none;
}

#description {
    left: 2%;
    top: 65%;
    color: black;
}

.desc {
    text-indent: 50px;
}